<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                    <h6 style="color: black" class="description"><strong> Comp Sci Trio</strong>: <br> <br> Since August 2012, we've been partners and friends, now we're
                        NC A&T Seniors in Senior Project. Our work is this website! </h6>
                    <div class="row pt-md">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="/images/antony.png" class="img-responsive" style="width:300px;height:250px;">
                                <ul class="text-center">
                                    <a href="https://www.linkedin.com/in/amdobson"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>
                                </ul>
                            </div>
                            <h1>Anthony Dobson</h1>
                            <h2>Computer Science Senior, Summa Cum Laude</h2>
                            <h2>Next: Master's Student, Secure Software Engineering (NCAT)</h2>
                            <h2>amdobson@aggies.ncat.edu</h2>
                            <p>"When you are in the final days of your life, what will you want? Will you hug that college degree in the walnut frame? Will you ask to be carried to the
                                garage so you can sit in your car? Will you find comfort in re-reading your financial statements? Of course not. What will matter then will be people. If
                                relationships will matter most then, shouldn't they matter most now?" - Max Lucado</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="/images/ashana.png" class="img-responsive" style="width:300px;height:250px;">
                                <ul class="text-center">
                                    <a href="https://www.linkedin.com/in/ashanaevans"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>
                                </ul>
                            </div>
                            <h1>Ashana Evans</h1>
                            <h2>Computer Science/Applied Mathematics Senior, Summa Cum Laude</h2>
                            <h2>Next: Computer Science, Master's Student</h2>
                            <h2>akevans@aggies.ncat.edu</h2>
                            <p>"If your dreams don't scare you then they aren't big enough" - N/A</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 profile">
                            <div class="img-box">
                                <img src="/images/brittany.png" class="img-responsive" style="width:300px;height:250px;">
                                <ul class="text-center">
                                    <a href="https://www.linkedin.com/in/brittanyrsimmons"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>
                                </ul>
                            </div>
                            <h1>Brittany Simmons</h1>
                            <h2>Computer Science Senior, Summa Cum Laude</h2>
                            <h2>Next: State Farm (Software Developer, GA)</h2>
                            <h2>brsimmon@aggies.ncat.edu</h2>
                            <p>“The best thing is looking back and realizing how good life is. If you don’t take the time to think
                                about it and analyze it, you’ll never realize all the dots that are connected.” - Beyonce</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>