<div class="container" style="width:575px">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Event Details Form</h3>
        </div>

        <div class="panel-body">
            <form role="form" data-ng-submit="addEvent(event)">
                <div class="row">
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-4 col-md-4">Event Name:</label>
                    <input type="text" placeholder="Event name" data-ng-model="event.name" class="input" required>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-4 col-md-4">Event Location:</label>
                    <input type="text" placeholder="Event Location" data-ng-model="event.location" class="input" required>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-4 col-md-4">Start Date:</label>
                    <input type="datetime-local" data-ng-model="event.start_date" class="input" data-ng-change='checkDate(event.start_date,event.end_date)' required>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4 col-sm-4 col-md-4">End Date:</label>
                    <input type="datetime-local" data-ng-model="event.end_date" class="input" data-ng-change='checkDate(event.start_date,event.end_date)' required>
                </div>
                </div>
                <h2 class="form-group panel-title"> <strong>Enter Full Name and Email of Judges</strong> </h2><br>
                <div id="judges">
                    <div id="judge-1" class="form-group">
                        <button data-ng-click="addJudge($event);" class="btn btn-primary">+</button>
                        <input type="text" placeholder="full name" name="name" class="input">
                        <input type="email" placeholder="youremail@email.com" name="email" class="input" required>
                    </div>
                </div>

                <h2 class="form-group panel-title"><strong>List Performances That Can Be Assessed </strong></h2><br>
                <div id="jcrit">
                    <div id="jcrit-1" class="form-group">
                        <button data-ng-click="addCriteria($event);" class="btn btn-primary">+</button>
                        <input type="text" placeholder="Technical Difficulty" name="criterion" class="input" required>
                    </div>
                </div>

                <h2 class="form-group panel-title"> <strong>Choose a Scale for Performance</strong></h2>
                <br>
                <div align="left">
                    <label><input type="radio" style="vertical-align: middle; margin: 0px" name="tblebttn" required>
                        0-5 (5 being highest)</label>
                    <label><input type="radio" style="vertical-align: middle; margin: 0px" name="tblebttn">
                        0-10 (10 being highest)</label>
                </div>
                <br>
                <div class="line">
                <input class="btn btn-success" type="submit" value="Submit">
                <div class="form-group right">
                    <a href="#/home" class="btn btn-danger btn-md form-control" role="button">Cancel</a>
                </div>
                </div>

            </form>
        </div>
    </div>
</div>