<div class="panel-body">
    <form class="form">
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Name:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.name" style="color:#FFFFFF">{{event.name}}</label>
            <!--<input type="text" data-ng-model="event.name" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Location:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.location" style="color:#FFFFFF">{{event.location}}</label>
            <!--<input type="text" data-ng-model="event.location" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>
            <input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">
        </div>
        <div class="form-group" id="criteria" data-ng-repeat="criterion in event.criteria">
          <label class="col-md-2 control-label" style="color:#FFFFFF">{{criterion}}</label>
          <input id="value" type="range" min="0" max="{{event.max_scale}}" step="1" value="5"
                 >
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>
            <textarea rows="6" cols="50"></textarea>
        </div>
      <div id="newTeams">
        <script type="text/javascript">
          function addRow () {
            document.querySelector('#content').insertAdjacentHTML(
              'afterbegin',
              '<div class="form-group">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>' +
              '<input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">' +
              '</div>' +
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Difficulty</label>' +
            '<input id="val1" type="range" min="0" max="10" step="1" value="5">'+
              '</div>'+
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Presentation</label>' +
              '<input id="val2" type="range" min="0" max="10" step="1" value="5">'+
              '</div>'+
              '<div class="form-group">'+
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>'+
            '<textarea rows="6" cols="50"></textarea>'+
              '<input type="button" value="Remove Team" onclick="removeRow(this)">' +
              '</div>'

          )
          }
          window.addRow = addRow;

          // function Init(){
          //   //We are getting all anyClass elements
          //   var tL = document.querySelectorAll('.form-group');
          //
          //   //We assign the remove event for all of them and instead of the string id we pass the element itself (=this)
          //   for(var i=0, j=tL.length; i<j; i++)
          //     tL[i].onclick = function(){
          //       removeRow(this)
          //     }
          //     window.Init = Init;
          // }

          function removeRow (input) {
              input.parentElement.remove()

            // //var j = document.getElementById('newTeams-1');
            // var delDiv = document.getElementById('content');
            //  delDiv.getParent().remove();
          }
        </script>
        <div id="newTeam-1" class="form-group">
            <input class="btn btn-primary" type="button" value="Add Team" onclick="addRow();">

          <!--<button data-ng-click="addNewTeam(event);" class="btn btn-primary"> Add a Team</button>-->
        <div id="content" class="form-group">
        </div>
        <!--<div id="newTeam-1" class="form-group">-->
          <!--<input class="btn btn-primary" type="button" value="Add Team" onclick="addRow();">-->
          <!--<button onclick="addRow();" class="btn btn-primary"> Add a Team</button>-->

        </div>
      </div>
      <div class="line">
        <!--<a href="#/home" class="btn btn-success" type="submit" value="Submit" data-ng-click="sendEmail();">Submit </a>-->
        <!--<a href="#/home" class="btn btn-success" type="submit" value="Submit" ng-confirm-click="Are you sure you want to submit scores ?" confirmed-click="sendEmail()">Submit </a>-->
        <button href="#/home" type="submit" class="btn btn-success" confirmed-click="sendEmail();" ng-confirm-click="Are you sure you want to submit scores?">Submit</button>
        <div class="form-group">
          <a href="#/home" class="btn btn-danger btn-md" role="button">Cancel</a>
        </div>
      </div>
    </form>
</div>
