<div class="panel-body">
    <form class="form">
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Name:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.name" style="color:#FFFFFF">{{event.name}}</label>
            <!--<input type="text" data-ng-model="event.name" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Location:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.location" style="color:#FFFFFF">{{event.location}}</label>
            <!--<input type="text" data-ng-model="event.location" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>
            <input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">
        </div>
        <div class="form-group" id="criteria">
          <label class="col-md-2 control-label" style="color:#FFFFFF">Difficulty</label>
          <em id="rangeValLabel" style="font-style: normal;color: #FFF;"></em>
          <input id="rangeVal" type="range" min="0" max="{{event.max_scale}}" step="1" value="5"
                 oninput="document.getElementById('rangeValLabel').innerHTML = this.value;" >
        </div>
      <div class="form-group" id="criteria-1">
        <label class="col-md-2 control-label" style="color:#FFFFFF">Presentation</label>
        <em id="rval" style="font-style: normal;color: #FFF;"></em>
        <input id="rangeVale" type="range" min="0" max="{{event.max_scale}}" step="1" value="5"
               oninput="document.getElementById('rval').innerHTML = this.value;" >
      </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>
            <textarea rows="6" cols="50"></textarea>
        </div>
      <div id="newTeams">
        <script type="text/javascript">
          function addRow () {
            document.getElementById('content').insertAdjacentHTML(
              'afterbegin',
              '<div class="form-group">' +
              '<div class="form-group">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>' +
              '<input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">' +
              '</div>' +
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Difficulty</label>' +
              '<em id="val2" style="font-style: normal;color: #FFF;"></em>'+
            '<input id="range" type="range" min="0" max="10" step="1" value="5" oninput="document.getElementById(\'val2\').innerHTML = this.value;">'+
              '</div>'+
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Presentation</label>' +
              '<em id="val3" style="font-style: normal; color: #FFF;"></em>'+
              '<input id="ranger" type="range" min="0" max="10" step="1" value="5" oninput="document.getElementById(\'val3\').innerHTML = this.value;">'+
              '</div>'+
              '<div class="form-group">'+
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>'+
            '<textarea rows="6" cols="50"></textarea>'+
              '</div>' +
              '<input type="button" value="Remove Team" onclick="removeRow(this)">' +
              '</div>'
          )
          }
          window.addRow = addRow;

          function removeRow (input) {
             input.parentElement.remove();

          }
        </script>
        <div id="newTeam-1" class="form-group">
            <input class="btn btn-primary" type="button" value="Add Team" onclick="addRow();">

          <!--<button data-ng-click="addNewTeam(event);" class="btn btn-primary"> Add a Team</button>-->
          <div id="content" class="form-group">
          </div>

        </div>
      </div>
      <div class="line">
        <!--<a href="#/home" class="btn btn-success" type="submit" value="Submit" data-ng-click="sendEmail();">Submit </a>-->
        <!--<a href="#/home" class="btn btn-success" type="submit" value="Submit" ng-confirm-click="Are you sure you want to submit scores ?" confirmed-click="sendEmail()">Submit </a>-->
        <button href="#/home" type="submit" class="btn btn-success" ng-click="sendEmailTally();">Submit</button>
        <div class="form-group">
          <a href="#/home" class="btn btn-danger btn-md" role="button">Cancel</a>
        </div>
      </div>
    </form>
</div>
