<div class="panel-body">
    <form class="form">
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Name:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.name" style="color:#FFFFFF">{{event.name}}</label>
            <!--<input type="text" data-ng-model="event.name" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Event Location:</label>
          <label class="col-md-2 control-label" data-ng-bind="event.location" style="color:#FFFFFF">{{event.location}}</label>
            <!--<input type="text" data-ng-model="event.location" readonly>-->
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>
            <input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">
        </div>
        <div class="form-group" id="criteria" data-ng-repeat="criterion in event.criteria">
            <label class="col-md-2 control-label" style="color:#FFFFFF">{{criterion}}</label>
          <output style="color: #FFFFFF; font-size: 34px" id="range_weight_disp"></output>
          <input id="range_weight" type="range" max="{{event.max_scale}}"
                   oninput="range_weight_disp.value = range_weight.value"></div>
        <div class="form-group">
            <label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>
            <textarea rows="6" cols="50"></textarea>
        </div>
      <div id="newTeams">
        <div id="newTeam-1" class="form-group">
          <button data-ng-click="addNewTeam(event);" class="btn btn-primary"> Add a Team</button>
        </div>
      </div>
      <div class="line">
        <a href="#/home" class="btn btn-success" type="submit" value="Submit">Submit </a>
        <div class="form-group">
          <a href="#/home" class="btn btn-danger btn-md" role="button">Cancel</a>
        </div>
      </div>
    </form>
</div>
