<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Event Details EDIT Form</h3>
        </div>
        <div class="container">
            <h2>Events</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Event Location</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>

                <div ng-repeat = "event in EventService.events">
                    <tr>
                        <td>{{event.name}}</td>
                        <td>{{event.location}}</td>
                        <td>{{event.start_date}}</td>
                        <td>{{event.end_date}}</td>
                    </tr>
                </div>

                </tbody>
            </table>

        </div>
        <div class="panel-body">
            <form role="form" data-ng-submit="addEvent(event)">
                <div class="form-group">
                    <label class="col-md-2 control-label">Event Name:</label>
                    <input type="text" placeholder="Event name" data-ng-bind="event.name" class="input" required>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Event Location:</label>
                    <input type="text" placeholder="Event Location" data-ng-bind="event.location" class="input" required>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Start Date:</label>
                    <input type="datetime-local" data-ng-bind="event.start_date" class="input" data-ng-change='checkDate(event.start_date,event.end_date)' required>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">End Date:</label>
                    <input type="datetime-local" data-ng-bind="event.end_date" class="input" data-ng-change='checkDate(event.start_date,event.end_date)' required>
                </div>

                <h2 class="form-group panel-title"> <strong>Enter Full Name and Email of Judges</strong> </h2><br>
                <div id="judges">
                    <div id="judge-1" class="form-group">
                        <button data-ng-click="addJudge($event);" class="btn btn-primary">+</button>
                        <input type="text" placeholder="full name" name="name" class="input">
                        <input type="email" placeholder="youremail@email.com" name="email" class="input">
                    </div>
                </div>

                <h2 class="form-group panel-title"><strong>List Performances That Can Be Assessed </strong></h2><br>
                <div id="jcrit">
                    <div id="jcrit-1" class="form-group">
                        <button data-ng-click="addCriteria($event);" class="btn btn-primary">+</button>
                        <input type="text" placeholder="Technical Difficulty" name="criteria" class="input" required>
                    </div>
                </div>

                <h2 class="form-group panel-title"> <strong>Choose a Scale for Performance</strong></h2>
                <br>
                <div align="left">
                    <label><input type="radio" style="vertical-align: middle; margin: 0px" name="tblebttn" required>
                        1-5 (5 being highest)</label>
                    <label><input type="radio" style="vertical-align: middle; margin: 0px" name="tblebttn">
                        1-10 (10 being highest)</label>
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>