<!DOCTYPE html>
<html data-ng-app="senior_project">
    <head>
        <title>Scored!</title>

        <!--Angular JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
        <script src="/javascripts/jquery-1.12.1.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/angular-css.min.js"></script>

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/stylesheets/signin.css" rel="stylesheet">
        <link href="/stylesheets/userPageCSS.css" rel="stylesheet">
        <link href="/stylesheets/registerCSS.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="/images/Logo-94.jpg"/>
        <!-- Custom styles for this template -->

        <base href="/">
    </head>

    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header navbar-middle">
                    <a href="#/"><img src="/images/logo.png" style= "width:275px;height:75px;margin-top:25px"></a>
                </div>

                <ul class="nav navbar-nav navbar-right" >
                    <li><a style="color: white; background-color: transparent" href="#/about_us" target="_blank">About Us <span class="glyphicon glyphicon-info-sign"></span></a></li>
                    <li><a style="color: white; background-color: transparent" href="#/contact_us" target="_blank">Contact Us <span class="glyphicon glyphicon-envelope"></span></a></li>
                    <li data-ng-if="route.require_login"><a style="color: white; background-color: transparent" href="#/" target="_blank" data-ng-click="logout()">Log Out <span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>

            </div>
        </nav>
    <div data-ng-view>

    </div>
    </body>
</html>