<!DOCTYPE html>
<html data-ng-app="senior_project">
    <head>
        <title>HJA</title>

        <!--Angular JS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
        <script src="/javascripts/jquery-1.12.1.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/angular-css.min.js"></script>
        <script text="text/javascript">
                    function outputUpdate(num) {
                      document.querySelector('#output').value = num;
                      window.outputUpdate  = outputUpdate;
                    }
         </script>
        <script type="text/javascript">
          function addRow () {
            document.querySelector('#content').insertAdjacentHTML(
              'afterbegin',
              '<div class="form-group">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Team/Project Name:</label>' +
              '<input type="text" placeholder="Team/Project Name" data-ng-model="judge_form.team">' +
              '</div>' +
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Difficulty</label>' +
            '<output style="font-size: 34px; color: #FFFFFF" id="output" value="5" for="value1"></output>'+
            '<input id="val1" type="range" min="0" max="10" step="1" value="5" oninput="outputUpdate(val1)">'+
              '</div>'+
              '<div class="form-group" id="criteria">' +
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Presentation</label>' +
              '<output style="font-size: 34px; color: #FFFFFF" id="output" value="5" for="value2"></output>'+
              '<input id="val2" type="range" min="0" max="10" step="1" value="5" oninput="outputUpdate(val2)">'+
              '</div>'+
              '<div class="form-group">'+
              '<label class="col-md-2 control-label" style="color:#FFFFFF">Additional Comments:</label>'+
            '<textarea rows="6" cols="50"></textarea>'+
              '<input type="button" value="-" onclick="removeRow(this)">' +
              '</div>'

          )
          }
          window.addRow = addRow;

          function removeRow (input) {
              input.parentElement.remove()

            // //var j = document.getElementById('newTeams-1');
            // var delDiv = document.getElementById('content');
            //  delDiv.getParent().remove();
          }
        </script>

        <!-- Bootstrap core CSS -->
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/stylesheets/signin.css" rel="stylesheet">
        <link href="/stylesheets/userPageCSS.css" rel="stylesheet">
        <link href="/stylesheets/registerCSS.css" rel="stylesheet">
        <link href="/stylesheets/style.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/jpg" href="/images/Logo-94.jpg"/>
        <!-- Custom styles for this template -->

        <base href="/">
    </head>

    <body>
        <div ul style= "text-align:center">
            <div>
                <div style= "height: 250px">
                    <a href="#/"><img src="/images/logo.png" style= "width:275px;height:75px;margin-top:25px"></a>
                </div>

            </div>
        </nav>
    <div data-ng-view>

    </div>
    <div class="form-group">
     <button style="background-color: grey" class="btn btn-danger btn-md" href="#/" target="_blank" data-ng-click="logout()">Log Out</button>
    </div>
    </body>
</html>
