body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.line {
  display: inline;
}

.right {
  float: right;
}

textarea {
  width: 100%;
  resize: none;
}

*{
  -webkit-box-sizing:border-box;
  min-height:100px;
  min-width: 500px;

  -moz-box-sizing:border-box;
  min-height:100px;
  min-width: 500px;

  box-sizing:border-box;
  min-height:100px;
  min-width: 500px;
}
:after,:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box}
