body {
  padding: 50px;
  font: 34px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #333;
}

a {
  color: #00B7FF;
}

.line {
  display: inline;
}

.right {
  float: right;
}

textarea {
  width: 100%;
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;

  -moz-box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;

  box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  transform: scale(0.5)
}

.btn-danger {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 34px;
  line-height: 1.42857143;
  color: #FFFFFF;
  background: #d9534f none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 34px;
  line-height: 1.42857143;
  color: #555;
  background: #FFFFFF none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  color: white
}

.glyphicon {
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 36px;
  line-height: 1.5;
  border-radius: 3px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 34px;
  line-height: inherit;
  border-width: thick;
}

.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #337ab7 30%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #337ab7 30%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#337ab7));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #337ab7 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ff337ab7', GradientType=0);
  background-repeat: repeat-x
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}

input[type='range'] {
  box-sizing: border-box;
  border: 0px solid transparent;
  padding: 0px;
  margin: 0px;
  width: 210px;
  height: 50px;
  cursor: pointer;
  background: -webkit-repeating-linear-gradient(90deg, #FFF, #FFF 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
  background: -moz-repeating-linear-gradient(90deg, #FFF, #FFF 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
  background: repeating-linear-gradient(90deg, #FFF, #FFF 1px, transparent 1px, transparent 40px) no-repeat 50% 50%;
  background-size: 122px 25px;
  font-size: 16px;
}
input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background: #FFF;
}
input[type=range]::-moz-range-track {
  box-sizing: border-box;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  padding: 0px;
  background: #FFF;
}
input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  border: 1px solid;
  background: #FFF;
}
input[type=range]::-ms-track {
  box-sizing: border-box;
  width: 210px;
  height: 5px;
  border-radius: 2px;
  padding: 0px;
  background: #FFF;
  color: #FFF;
}

input[type=range]::-webkit-slider-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  border: 1px solid;
  margin-top: -8px;
  background: #FFF;
}
input[type=range]::-ms-thumb {
  box-sizing: border-box;
  padding: 0px;
  height: 20px;
  width: 10px;
  border-radius: 2px;
  border: 1px solid;
  background: #FFF;
}
input[type=range]::-ms-fill-lower {
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
/*input[type='range']:after{
  position: absolute;
  content: '20 40 60 80';
  padding: 25px 4035px;
  word-spacing: 20px;
  left: 0px;
  top: 0px;
}*/

.range_stuff:after {
  position: absolute;
  color: #FFF;
  padding: 40px;
  word-spacing: 20px;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.range_stuff {
  padding: 0px;
  position: relative;
}

/* Just for demo */

output{
  color: #FFF;
}
output:before{
  font-weight: bold;
}
body {
  font-family: "Helvetica Neue", Calibri, Arial, sans-serif;
}
