body {
  padding: 50px;
  font: 34px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.line {
  display: inline;
}

.right {
  float: right;
}

textarea {
  width: 100%;
  resize: none;
}

* {
  -webkit-box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;

  -moz-box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;

  box-sizing: border-box;
  min-height: 100px;
  min-width: 500px;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  transform: scale(0.5)
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  color: white
}

.glyphicon {
  position: relative;
  top: 1px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 36px;
  line-height: 1.5;
  border-radius: 3px;
  border-width: thick;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 34px;
  line-height: inherit
}

.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0, #337ab7 30%);
  background-image: -o-linear-gradient(top, #f5f5f5 0, #337ab7 30%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#337ab7));
  background-image: linear-gradient(to bottom, #f5f5f5 0, #337ab7 30%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ff337ab7', GradientType=0);
  background-repeat: repeat-x
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px
}
