.jumbotron {
    background: #fff;
    color: #000;
    border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
    padding-bottom: 24px; }
.jumbotron small {
    color: #000;
}
.h3 small {
    font-size: 20px;
}

@media (min-width: 1000px) {
    .container {
        width: 1000px;
    }
}

.navbar-middle {
    margin-left: 465px;
}
.navbar-right  {
    float: right;
}

body{
    /* Safari 4-5, Chrome 1-9 */
    /*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));*/

    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

    /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    height:600px;
}

/* Colorgraph divider */

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.colorgraph-header {
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 3px;
    z-index: 100;
}

.colorgraph-footer {
    position: static;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 5px;
    z-index: 100;
}

.centered-form{
    margin-top: 60px;
}


.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

label.label-floatlabel {
    font-weight: bold;
    color: blueviolet;
    font-size: 11px;
}

label {
    font-size: 16px; font-family: "Times New Roman";
}

.end {
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
#front {
    font-family: "Lucida Bright", Georgia, serif;
}

